				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="index.html" class="logo">
									<span class="symbol"><img src="images/heart.svg" alt="" /></span><span class="title">Title</span>
								</a>

							<!-- Nav -->
								<div class="nav">
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</div>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="#">Ipsum veroeros</a></li>
							<li><a href="#">Tempus etiam</a></li>
							<!-- <<li><a href="generic.html">Consequat dolor</a></li>
							<li><a href="elements.html">Elements</a></li> -->
						</ul>
					</nav>
